html, body {
	margin: 0;
	padding: 0;
	font-family: "Myriad Pro", Helvetica, Verdana, Arial, sans-serif;
	background: #e2e2e4;
}

.center {
	width: 80%;
	min-width: 320px;
	max-width: 980px;
	margin: 0 auto;
}

#header {
	background: #05d;
	overflow: auto;
	box-shadow: 0px 1px 8px #666;
}

#header h1 {
	float: left;
	font-weight: normal;
}